/* Utilisation de ma police de prédilection */
body,
h1, h2, h3, h4, h5, h6
{
    font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

/* Positionne le lien d'authentification en haut à droite */
#logindisplay
{
    position: absolute;
    top: 0;
    right: 0;
}

/* Changement du jeu de couleurs */
h1 { color: #d2691e; } /* chocolat */
h2 { color: #888888; } /* gris */
h3 { color: #39b449; } /* vert */

/* Par défaut les tables occupent toute la largeur de la page */
table
{
    width: 100%;
}

/* Aération des cellules */
thead th,
tbody td,
tfoot th
{
    border: 1px dotted #aaa;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

/* Redéfini les couleurs de l'en-tête et du pied des tables */
thead tr th,
tfoot tr th
{
    background-color: #d2691e;  /* chocolat */
    color: #fff;
}

/* Alterne la couleur de fond des lignes d'une table */
tbody tr:nth-child(odd)
{
    background-color: #f9f9f9; /* idem Twitter Bootstrap */
}

/* Ajoute un effet lors du survol d'une ligne */
tbody tr:hover
{
    background-color: #ffffdf; /* jaune postit de Uni-Form */
}

/* Repasse les liens en bleu */
a,
a:visited
{
    color: #00f;
}
a:hover,
a:focus
{
    color: #88f;
}


/* #Buttons
================================================== */

button,
input[type="submit"],
input[type="button"]
{
    border: 0 none;
    background-color: #39b449;
    color: #fff;
    cursor: pointer;
    font-size: 110%;
    line-height: normal;
    outline: 0;
    margin: 20px 20px 0 0;
    padding: 10px 15px;
}

input[type="submit"]
{
    font-weight: bold;
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover
{
    background-color: #35A644;
}


/* #Forms
================================================== */

/* Suppression marges horizontales (dûes à .columns) sur les <fieldset> */
fieldset
{
    margin: 0 !important;
}

/* Style des <legend> inspiré du style des <h3> */
legend
{
    border: 0;
    border-bottom: 2px solid #39b449;
    color: #39b449;
    font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    margin: 0;
    margin-bottom: 15px; /* pour espacement avec 1° bloc saisie du formulaire (ne fonctionne que sous IE ?) */
    padding: 0;
    width: 100%;
}

/* Augmente la lisibilité des zones de saisie */
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="text"],
input[type="url"],
select,
textarea
{
    background-color: #fff;
    border: 1px dotted #85b1de;
    color: #000;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    outline: 0;
    padding: 4px;
}

/* Mise en évidence des labels associés aux zones de saisie obligatoires */
label.is_required
{
    color: black;
}
label.is_required span
{
    color: #d2691e;  /* chocolat */
    font-weight: bold;
    margin-left: 0.5em;
}

/* Mise en évidence de la zone de saisie en cours */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus
{
    /* box-shadow: #08f 0 0 7px; */
    background-color: #ffffdf; /* jaune postit de Uni-Form */
    border: 1px solid #d2691e;  /* chocolat */
}

/* Mise en évidence des messages d'erreurs de saisie */
.field-validation-error
{
    color: #d2691e;  /* chocolat */
}

/* Zones d'affichage reprennent les styles des zones de saisie */
.display-field
{
    color: #000;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
}

/* Espacement et alignement verticaux des blocs de saisie */
.display-label, 
.editor-label,
.display-field
{
    padding: 10px 0 0 0;
}
.editor-field
{
    padding: 5px 0;
}


/* Formulaires sont en horizontal par défaut avec saisies de largeurs variables */
.display-label, 
.editor-label 
{
    text-align: right;
}
input[type="phone"]
{
    width: 200px;
}
input[type="password"],
input[type="text"],
select
{
    width: 300px;
}
input[type="email"],
input[type="url"],
textarea
{
    width: 600px;
}
textarea
{
    height: 7em;
}

input[type="text"].inputshort
{
    width: 100px;
}
input[type="text"].inputmedium
{
    width: 400px;
}
input[type="text"].inputbig
{
    width: 600px;
}


/* Formulaires passent en vertical pour les petites largeurs */
@media only screen and (max-width: 767px)
{
    .display-label, 
    .editor-label 
    {
        text-align: left !important;
    }
    
    input[type="email"],
    input[type="password"],
    input[type="phone"],
    input[type="text"],
    input[type="url"],
    select,
    textarea
    {
        width: 96% !important;
    }
}