/* Utilisation de ma police de prédilection */
body,
h1, h2, h3, h4, h5, h6
{
    font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

/* Positionne le lien d'authentification en haut à droite */
#logindisplay
{
    position: absolute;
    top: 0;
    right: 0;
}

/* Changement du jeu de couleurs */
h1 { color: #d2691e; } /* chocolat */
h2 { color: #888888; } /* gris */
h3 { color: #39b449; } /* vert */

/* Repasse les liens en bleu */
a,
a:visited
{
    color: #00f;
}
a:hover,
a:focus
{
    color: #88f;
}

/* Centre le texte du pied de page */
footer
{
    margin: 20px 0 10px 0;
    text-align: center;
}

/* Menu des actions CRUD */
.crud
{
    font-size: medium;
    font-variant: small-caps;
}


/* #Tables
================================================== */

/* Par défaut les tables occupent toute la largeur de la page */
table
{
    width: 100%;
}

/* Aération des cellules */
thead th,
tbody td,
tfoot td,
tfoot th
{
    border: 1px dotted #aaa;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

/* Redéfini les couleurs de l'en-tête et du pied des tables */
thead tr th,
tfoot tr th
{
    background-color: #d2691e;  /* chocolat */
    color: #fff;
}

/* Alterne la couleur de fond des lignes d'une table */
tbody tr:nth-child(odd)
{
    background-color: #f9f9f9; /* idem Twitter Bootstrap */
}

/* Ajoute un effet lors du survol d'une ligne */
tbody tr:hover
{
    background-color: #ffffcc; /* jaune postit */
}


/* #Icons
================================================== */

a.icon,
a.edit,
a.delete
{
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    padding-left: 30px;
}

a.edit
{
    background-image: url(icons/edit.png);
}

a.delete
{
    background-image: url(icons/delete.png);
}

table a.icon,
table a.edit,
table a.delete
{
    padding-left: 0;
    text-indent: 100px;
    max-width: 24px;
    overflow: hidden;
    margin: -3px 0;
}

table th.iconwidth,
table td.iconwidth
{
    width: 28px;
}

/* Icones pour gérer la navigation */
.navigation
{
    position: relative;
}
.navigation a.prev
{
    background: url(icons/arrow-prev.png);
    display: none;
    height: 48px;
    left: 25px;
    position: absolute;
    top: 100px;
    width: 49px;
}
.navigation a.next
{
    background: url(icons/arrow-next.png);
    display: none;
    height: 48px;
    right: 25px;
    position: absolute;
    top: 100px;
    width: 49px;
}
.navigation:hover a.prev,
.navigation:hover a.next
{
    display: block;
}


/* #Buttons
================================================== */

button,
input[type="submit"],
input[type="button"]
{
    border: 0 none;
    background-color: #39b449;
    color: #fff;
    cursor: pointer;
    font-size: 110%;
    line-height: normal;
    outline: 0;
    margin: 20px 20px 0 0;
    padding: 10px 15px;
}

input[type="submit"]
{
    background-color: #4b8df7;
    font-weight: bold;
}

button:focus,
input[type="button"]:focus,
button:hover,
input[type="button"]:hover
{
    background-color: #35a644; /* #39b449 -10% luminosité */
}

input[type="submit"]:focus,
input[type="submit"]:hover
{
    background-color: #4582e5; /* #4b8df7 -10% luminosité */
}


/* #Forms
================================================== */

/* Suppression marges horizontales (dûes à .columns) sur les <fieldset> */
fieldset
{
    margin: 0 !important;
}

/* Suppression marges latérales (dûes aux nested .columns) */
/* (!important est nécessaire car .columns est défini après) */
.display-label,
.editor-label
{
    margin-left: 0 !important;
    clear: left;
}
.display-field,
.editor-field
{
    margin-right: 0 !important;
}

/* Style des <legend> inspiré du style des <h3> */
legend
{
    border: 0;
    color: #39b449;
    font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Bidouille pour émuler un border et margin bottom sur les <legend> sous Chrome */
legend:after
{
    border-top: 2px solid #39b449;
    clear: both;
    content: "\0020";
    display: block;
    height: 15px;
    width: 100%;
}

/* Cadrage à droite pour la dernière colonne des <legend> */
legend span.omega
{
    text-align: right;
}

/* Augmente la lisibilité des zones de saisie */
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="text"],
input[type="url"],
select,
textarea
{
    background-color: #fff;
    border: 1px dotted #85b1de;
    color: #000;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    outline: 0;
    padding: 4px;
    margin: 2px;
}
.editor-field .chzn-container-multi .chzn-choices
{
    background-color: #fff;
    border: 1px dotted #85b1de;
    color: #000;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    outline: 0;
}
.editor-field .chzn-container-multi .chzn-choices,
.editor-field .chzn-container-multi .chzn-drop
{
    margin-left: 2px;
}

/* Mise en évidence des labels associés aux zones de saisie obligatoires */
label.is_required
{
    color: black;
}
label.is_required span
{
    color: #d2691e;  /* chocolat */
    font-weight: bold;
    margin-left: 0.5em;
}

/* Mise en évidence de la zone de saisie en cours */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
.editor-field .chzn-container-active .chzn-choices,
.editor-field .chzn-container-active .chzn-drop,
textarea:focus
{
    /* box-shadow: #08f 0 0 7px; */
    background-color: #ffffcc; /* jaune postit */
    border: 1px solid #d2691e;  /* chocolat */
}

/* Mise en évidence des messages d'erreurs de saisie */
.field-validation-error
{
    color: #d2691e;  /* chocolat */
}

/* Mise en évidence des zones d'affichage par rapport aux simples labels */
.display-field
{
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    color: #000;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    margin: 5px 0;
    min-height: 2.1em;
    padding: 4px 4px;
}

/* Mise en forme du rendu des tags en mode affichage */
.display-tags span
{
    background-color: #ddd;
    border: 2px solid #fafafa;
    display: inline-block;
    letter-spacing: 0;
    padding: 1px 4px;
}

/* Mise en forme du rendu des zones multilignes en mode affichage */
.display-field p
{
    letter-spacing: 0;
    margin: 0 0 5px 0;
}
.display-field ul,
.display-field li
{
    letter-spacing: 0;
    margin: 0 0 5px 10px;
    list-style-type: disc;
}
.display-field strong,
.display-field em
{
    color: black;
}

/* Espacement et alignement verticaux des blocs de saisie */
.display-label,
.editor-label
{
    padding: 10px 0 0 0;
}
.editor-field
{
    padding: 5px 0;
}


/* Formulaires sont en horizontal par défaut avec saisies de largeurs variables */
.display-label,
.editor-label
{
    text-align: right;
}
input[type="phone"]
{
    width: 200px;
}
input[type="password"],
input[type="text"],
select
{
    width: 300px;
}
input[type="email"],
input[type="url"],
textarea
{
    width: 600px;
}
textarea
{
    height: 7em;
}

.inputshort
{
    width: 100px !important;
}
.inputmedium
{
    width: 400px !important;
}
.inputbig
{
    width: 600px !important;
}


/* Formulaires passent en vertical pour les petites largeurs */
@media only screen and (max-width: 767px)
{
    .display-label,
    .editor-label
    {
        text-align: left !important;
    }

    input[type="email"],
    input[type="password"],
    input[type="phone"],
    input[type="text"],
    input[type="url"],
    select,
    .editor-field .chzn-container-active .chzn-choices,
    .editor-field .chzn-container-active .chzn-drop,
    textarea,
    .inputmedium,
    .inputbig
    {
        width: 96% !important;
    }
}


/* Message flash suite à une action réussie */
.flash {
    background-color: #cfc;
    border-top: 1px solid #060;
    border-bottom: 4px solid #060;
    color: #393;
    padding: 6px;
    text-align: center;
}

/* Message flash suite à un problème */
.flash_alert {
    background-color: #fcc;
    border-top: 1px solid #600;
    border-bottom: 4px solid #600;
    color: #933;
    padding: 6px;
    text-align: center;
}

/* Affichage d'une information importante */
.important {
    color: #f00;
    font-weight: bold;
}


/* #Condense l'affichage pour les petites largeurs
================================================== */

@media only screen and (max-width: 767px)
{
    .display-field
    {
        margin-top: -5px !important;
    }

    .editor-field
    {
        margin-top: -11px !important;
    }

    h3 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
    h4 { font-size: 17px; line-height: 24px; margin-bottom: 0px; }

    legend
    {
        font-size: 21px;
        line-height: 30px;
    }
    legend:after
    {
        height: 10px;
    }
    
    .crud
    {
        font-size: small;
    }    
}


/* #Styles pour les cartes gmaps.js
   (http://hpneo.github.com/gmaps/)
================================================== */

/* La carte */
#gmaps
{
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    height: 300px;
}

/* La bordure autour de la carte */
.gmaps
{
    background: #fff;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    clear: left;
    margin: 0 !important;
    padding: 20px;
}


/* #Styles spécifiques pour Repertoir
================================================== */

/* Alterne la couleur de fond des contacts dans la liste */
section > .list_contact:nth-child(even)
{
    background-color: #f9f9f9; /* idem Twitter Bootstrap */
}

/* Ajoute un effet lors du survol d'un contact dans la liste */
.list_contact:hover
{
    background-color: #ffffcc; /* jaune postit */
}

/* Numéro de téléphone cadré à droite */
.list_contact h4.omega
{
    text-align: right;
}

/* Icones pour chaque type de contact */
a.icon.is_company    { background-image: url(icons/home.png); }
a.icon.is_man        { background-image: url(icons/male_user.png); }
a.icon.is_woman      { background-image: url(icons/female_user.png); }

/* Icones géantes en mode liste */
.list_contact
{
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    min-height: 48px;
}
.list_contact.is_company    { background-image: url(icons/home_48.png); }
.list_contact.is_man        { background-image: url(icons/male_user_48.png); }
.list_contact.is_woman      { background-image: url(icons/female_user_48.png); }

/* Masque les icones pour les petites largeurs */
@media only screen and (max-width: 767px)
{
    .list_contact { background-image: none !important; }
}
