/* Utilisation de ma police de prédilection */
body,
h1, h2, h3, h4, h5, h6
{
    font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

/* Positionne le lien d'authentification en haut à droite */
#logindisplay
{
    position: absolute;
    top: 0;
    right: 0;
}

/* Changement du jeu de couleurs */
h1 { color: #d2691e; } /* chocolat */
h2 { color: #888888; } /* gris */
h3 { color: #39b449; } /* vert */

/* Par défaut les tables occupent toute la largeur de la page */
table
{
    width: 100%;
}

/* Aération des cellules */
thead th,
tbody td,
tfoot th
{
    border: 1px dotted #aaa;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

/* Redéfini les couleurs de l'en-tête et du pied des tables */
thead tr th,
tfoot tr th
{
    background-color: #d2691e;  /* chocolat */
    color: #fff;
}

/* Alterne la couleur de fond des lignes d'une table */
tbody tr:nth-child(odd)
{
    background-color: #f9f9f9; /* idem Twitter Bootstrap */
}

/* Ajoute un effet lors du survol d'une ligne */
tbody tr:hover
{
    background-color: #f5f5f5; /* idem Twitter Bootstrap */
}

/* Repasse les liens en bleu */
a,
a:visited
{
    color: #00f;
}
a:hover,
a:focus
{
    color: #88f;
}


/* #Buttons
================================================== */

button,
input[type="submit"],
input[type="button"]
{
    border: 0 none;
    background-color: #39b449;
    color: #fff;
    cursor: pointer;
    font-size: 110%;
    line-height: normal;
    outline: 0;
    margin: 20px 20px 0 0;
    padding: 10px 15px;
}

input[type="submit"]
{
    font-weight: bold;
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover
{
    background-color: #35A644;
}


/* #Forms
================================================== */

/* Style <legend> = style <h3> */
legend
{
    border: 0;
    color: #39b449;
    font-family: "Century Gothic", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    vertical-align: baseline;
}

input[type="text"],
select,
textarea
{
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border: dotted 1px #85b1de;
    color: #000;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    outline: 0;
    margin: 2px;
    margin-bottom: 20px;
    padding: 4px;
}

input[type="text"]:focus,
select:focus,
textarea:focus
{
    /* box-shadow: #08f 0 0 7px; */
    border: 1px solid #00f;
    background-color: #f5f5f5; /* idem Twitter Bootstrap */
}

.field-validation-error
{
    color: red;
}