@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Supprimer une personne";
}

<h2>@ViewBag.Title</h2>

<fieldset class="sixteen columns">
    <legend>Supprimer «&nbsp;@Model.FirstName @Model.LastName&nbsp;» ?</legend>

    @Html.Partial("_Display", Model)

    @using (Html.BeginForm())
    {
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Ok pour supprimer !" />
            @Html.ActionLink("Annuler", "Index", "Contacts")
        </p>
    }
</fieldset>
