@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = "Afficher une personne";
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

<fieldset class="sixteen columns">
    <legend>
        <span class="ten columns alpha">@Model.DisplayName</span>
        <span class="six columns omega">@Model.Phone1</span>
    </legend>
    @Html.Partial("_Display", Model)
</fieldset>