@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = "Afficher une personne";
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

<fieldset class="sixteen columns">
    <legend>@Model.DisplayName</legend>
    @Html.Partial("_Display", Model)
</fieldset>