@model Repertoir.Models.ViewPerson

@{
    ViewBag.Title = "Afficher une personne";
}

<h2 class="crud">
    @Html.ActionCrud(Model.Contact_ID)
</h2>

<fieldset class="readonly sixteen columns">
    <legend>@Model.DisplayName</legend>
    @Html.Partial("_Display", Model)
</fieldset>