@model IEnumerable<Repertoir.Models.ContactList>

@foreach (var item in Model)
{
<div class="list_contact @Html.ContactCss(item.IsCompany, item.Civility) clearfix">
    <h4 class="offset-by-two eight columns alpha">
        @Html.ActionLink(item.DisplayName, "Details", item.ControllerName, new { id = item.Contact_ID, slug = item.Slug }, null)
    </h4>
    <h4 class="six columns omega">
        @Html.DisplayFor(modelItem => item.Phone1)
    </h4>
    <div class="offset-by-two fourteen columns alpha omega">@Html.DisplayFor(modelItem => item.Informations)</div>
</div>
}