@model Repertoir.Models.Contact

@{
    ViewBag.Title = "Supprimer un contact";
}

<h2>@ViewBag.Title</h2>

<fieldset class="sixteen columns">
    <legend>Confirmez-vous la suppression ?</legend>

    @Html.Partial("_Display", Model)

    @using (Html.BeginForm())
    {
        <p class="offset-by-third two-thirds column alpha">
            <input type="submit" value="Ok pour supprimer !" />
            @Html.ActionLink("Annuler", "Index")
        </p>
    }
</fieldset>
