@model IEnumerable<Repertoir.Models.ContactList>

@{
    ViewBag.Title = "Tous les contacts";
}

<h2 class="crud">
    @Html.ActionCrud()
</h2>

@Html.Partial("_List")

<p>
    @Html.ActionLink("Exporter les contacts au format JSON", "Export")
    //
    @Html.ActionLink("Liste des contacts sous forme de table", "Table")
</p>
