@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = "Afficher une société";
}

<h2 class="crud">
    @Html.ActionCrud(Model.ID)
</h2>

<fieldset class="sixteen columns">
    <legend>@Model.CompanyName</legend>
    @Html.Partial("_Display", Model)
</fieldset>