@model Repertoir.Models.ViewCompany

@{
    ViewBag.Title = "Afficher une société";
}

<h2 class="crud">
    @Html.ActionCrud(Model.Contact_ID)
</h2>

<fieldset class="sixteen columns">
    <legend>@Model.DisplayName</legend>
    @Html.Partial("_Display", Model)
</fieldset>

@Html.Partial(@"../Contacts/_List", Model.People)