@{
    ViewBag.Title = "About Us";
}

<h2 class="sixteen columns">About</h2>

<div class="two-thirds column">
	<h3>About Skeleton?</h3>
	<p>Skeleton is a small collection of well-organized CSS &amp; JS files that can help you rapidly develop sites that look beautiful at any size, be it a 17" laptop screen or an iPhone. It's based on a responsive grid, but also provides very basic CSS for typography, buttons, tabs, forms and media queries. Go ahead, resize this super basic page to see the grid in action.</p>
</div>

<div class="one-third column">
	<h3>About MVC?</h3>
	<p>ASP.NET MVC is a tinkerer’s framework that gives you very fine grained control over your HTML and JavaScript.</p>
</div>