@{
    ViewBag.Title = "Présentation";
}

<h2>Présentation</h2>
<p>
    Gestion d'un petit répertoire de contacts pour servir de banc d'essai à la création d'une application avec
    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">ASP.NET MVC 3</a>.
</p>

<h3>Outils</h3>
<ul>
    <li><a href="https://appharbor.com/" title=".NET Cloud Platform as a Service">AppHarbor</a>
        : pour déployer automatiquement depuis GitHub</li>
    <li><a href="http://automapper.org/" title="A convention-based object-object mapper">AutoMapper</a>
        : pour transformer les objets Model en objets ViewModel</li>
    <li><a href="https://github.com/harvesthq/chosen" title="A Select Box Enhancer for jQuery and Protoype">Chosen</a>
        : pour saisir les tags et simplifier rattachement à une société</li>
    <li><a href="http://www.asp.net/entity-framework" title="Object/Relational Mapping by Microsoft">Entity Framework Code First</a>
        : pour gérer les données</li>
    <li><a href="https://github.com/" title="Social Coding">GitHub</a>
        : pour héberger les sources sous Git</li>
    <li><a href="http://lowercaseroutesmvc.codeplex.com/" title="Easily map ASP.NET MVC routes to lowercase URLs!">LowercaseRoutesMVC</a>
        : pour avoir des URLs en minuscule</li>
    <li><a href="http://miniprofiler.com/" title="A simple but effective mini-profiler for ASP.NET MVC and ASP.NET">MiniProfiler</a>
        : pour connaitre le code SQL généré par Entity Framework</li>
    <li><a href="http://www.getskeleton.com/" title="A Beautiful Boilerplate for Responsive, Mobile-Friendly Development">Skeleton</a>
        : pour avoir un affichage responsive (y compris pour les formulaires)</li>
</ul>

<h3>Code source</h3>
<p><a href="https://github.com/michelc/Repertoir">https://github.com/michelc/Repertoir</a></p>
