@model String

@{
    var values = new List<SelectListItem>
    {
        new SelectListItem { Text = "Monsieur", Value = "M.", Selected = Model != null && Model == "M." },
        new SelectListItem { Text = "Madame", Value = "Mme", Selected = Model != null && Model == "Mme" }
    };

    var is_required = ViewData.ModelMetadata.IsRequired;
    if (!is_required)
    {
        values.Add(new SelectListItem { Text = "(vide)", Value = "", Selected = string.IsNullOrEmpty(Model) });
    }

    var fieldId = ViewData.TemplateInfo.GetFullHtmlFieldId("");
}

@foreach (var v in values)
{
    @Html.RadioButton("", v.Value, v.Selected, new { @id = @fieldId + "_" + @v.Value })
    <label for="@(fieldId + "_" + v.Value)">@v.Text</label>
}